body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1d1e22;
}

/* Positionning divs */
#wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

#canvas {
    width: 50%;
    float: left;
}

/* Style the tab */
.tabpane {
    width: 50%;
	margin: 0;
    float: right;
}

.tabs {
    display: table;
    table-layout: fixed;
    width: 75%;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}

.tabs > li {
    transition-duration: 0.25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 20px 20px 25px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: white;
}

.tabs > li:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition-duration: 0.25s;
    border-radius: 5px 5px 0 0;
}

.tabs > li:hover:before {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
}

.tabs > li.active {
    color: #50555a;
}

.tabs > li.active:before {
    transition-duration: 0.5s;
    background-color: white;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.tab__content {
    background-color: white;
    position: relative;
    width: 100%;
    border-radius: 5px;
    align-content: center;
    margin: 0 0 0 30pt;
}

.tab__content > li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
}

.tab__content > li .content__wrapper {
    border-radius: 5px;
    width: 75%;
    padding: 45px 40px 40px 40px;
    background-color: white;
}

.content__wrapper h3 {
    width: 100%;
    padding-bottom: 20px;
    font-weight: 300;
}

/* Style buttons */
.button_model {
    appearance: button;
    backface-visibility: hidden;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    margin: 15px 0 0;
    outline: none;
    overflow: hidden;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-transform: none;
    transform: translateZ(0);
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100pt;
}

.button_model:disabled {
  cursor: default;
}

.button_model:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

#model_buttons_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

footer {
    padding: 40px 0;
    text-align: center;
    opacity: 0.33;
    color: white;
}