* {
    font-family: sans-serif !important;
}

body {
    background-color: #1d1e22;
}

#WebGL-test {
    width: 100%;
    float: left;
    z-index: 0;
}

.menu {
    width: 250px;
    position: absolute;
    top: 2.5%;
    right: 3%;
    z-index: 1;
}

#open-button {
    background-color: rgb(83, 83, 83);
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    left: 80%;
    height: 25px;
    width: 20%;
}

#menu__content {
    background-color: #444444;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
    display: none;
    opacity: 0.7;
}

#close {
    background-color: rgba(83, 83, 83, 0);
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    left: 80%;
    bottom: 10px;
    height: 25px;
}

#close.active .dropdown {
    background-color: rgb(83, 83, 83);
    display: none;
}

#close:hover {
    opacity: 0.8;
}

.dropdown {
    background-color: #383838;
    border-top: 1px solid #aeaeae;
    width: 100%;
    display: inline-block;
    padding: 2% 0;
}

/* Style the dropdown header */
.dropdown .header {
    color: white;
    padding: 7px 10px;
    font-size: 20px;
    display: flex;
}

.dropdown span {
    text-align: left;
    font-size: medium;
    cursor: pointer;
    padding-right: 5px;
}

/* Hide the dropdown content */
.content__wrapper {
    display: none;
    padding: 0 10px;
    z-index: 1;
}

/* Open the dropdown menu on active */
.dropdown.active .content__wrapper {
    display: block;
}

/* Style the dropdown content row */
.row {
    color: white;
    height: 45px;
    position: relative;
    font-size: 14px;
    width: 100%;
}

.row:hover {
    background-color: rgb(105, 105, 105, 0.5);
}

/* Style the selection menus */
.selector {
    position: absolute;
    right: 5%;
    border: none;
    border-radius: 0%;
    color: white;
    background-color: rgb(63, 63, 63);
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.color__picker {
    position: absolute;
    right: 5%;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

label {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.gallery {
    padding: 10px 0;
}

.gallery div {
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    scrollbar-width: none;  /* Firefox */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 2%;
}

.gallery div img {
    opacity: 0.5;
    margin-right: 5%;
    width: 48px;
    height: 48px;
}

.gallery div img.active {
    opacity: 1;
    border: 3px solid #a7a7a7;
    width: 44px;
    height: 44px;
}

.gallery div img:hover{
    opacity: 1;
}

#fresnel_coeff {
    position: absolute;
    width: 50%;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
}

#fresnel_coeff_value {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #444444;
    color: white;
    border-radius: 2px;
    width: 10%;
    height: 35%;
    font-size: 14px;
}

footer {
    position: absolute;
    bottom: 50px;
    padding: 40px 0;
    text-align: center;
    opacity: 0.33;
    color: white;
    z-index: -1;
}