* {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    font-family: sans-serif !important;
}

html, body {
    background-color: #1d1e22;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/*header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background: linear-gradient(180deg, #152e49 5%, #1d1e22 100%);
}
header img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
}
.brand a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
}*/

#main_content {
    position: relative;
    padding: 1.1rem 5rem;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

/* Canvas style */
#WebGL-test {
    min-width: 100%;
    max-width: 100%;
    max-height: auto;
    float: left;
    z-index: 0;
}

/* Menu global style */
.menu {
    position: absolute;
    top: 4vh;
    right: 14vh;
    z-index: 1;
}

/* "Open Menu" button */
#open-button {
    background-color: rgb(83, 83, 83);
    color: white;
    border: none;
    cursor: pointer;
    left: 90%;
    height: 25px;
    width: 100%;
}

/* The menu when its opened */
#menu__content {
    background-color: #44444498;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
    display: none; /* TODO: re-put none*/
    opacity: 0.8;
    width: 250px;
}

/* "Close Menu" button */
#close {
    background-color: rgba(83, 83, 83, 0);
    color: white;
    border: none;
    cursor: pointer;
    position: relative;
    left: 13rem;
    bottom: 1rem;
    height: 5%;
}
#close:hover {
    opacity: 0.8;
}

/* Global dropdowns style */
.dropdown {
    background-color: rgba(56, 56, 56, 0.08);
    border-top: 1px solid #aeaeae;
    width: 100%;
    display: inline-block;
    padding: 2% 0;
    /* glass effect */
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
}
/* Dropdown header style */
.dropdown .header {
    color: white;
    padding: 7px 10px;
    font-size: 20px;
    display: flex;
    font-size: medium;
    cursor: default;
    padding-left: 5%;
    padding-right: 5%;
}

/* Personnal caret creation
Used as indicator in headers when opening/closing dropdowns */
.header .caret {
    position: relative;
    display: flex;
    justify-content: start;
    left: 0;
    top: 15px;
    transform: translateY(-50%);
    margin-right: 5%;
}
/* Dropdown is closed */
.caret.down {
    content: '';
    border-top: 5px solid #f9f5f5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
/* Dropdown is opened */
.caret.up {
    content: '';
    top: 0;
    border-bottom: 5px solid #f9f5f5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

/* Dropdown's content (contans rows) */
.content__wrapper {
    display: none;
    padding: 0 10px;
    z-index: 1;
}
/* Display the content when a dropdown is active */
.dropdown.active .content__wrapper {
    display: block;
}

/* Dropdown's row */
.row {
    color: white;
    height: 45px;
    position: relative;
    font-size: 14px;
    width: 100%;
}
.row:hover {
    background-color: rgb(105, 105, 105, 0.5);
}

/* Style the selection menus */
.selector {
    position: absolute;
    right: 5%;
    border: none;
    border-radius: 0%;
    color: white;
    background-color: rgb(63, 63, 63);
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

/* The plane toggle */
#plane_checkbox {
    position: relative;
    left: 85%;
    top: 50%;
    transform: translateY(-50%);
}

/* The color picker that is used to change color of models */
#color_picker {
    position: absolute;
    right: 5%;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
}

label {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

/* The skybox toggle */
#skybox_checkbox {
    position: absolute;
    top: 12.5px;
    left: 85%;
}

/* Skybox textures gallery */
.gallery {
    padding: 10px 0;
}
.gallery div {
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    scrollbar-width: none;  /* Firefox */
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 2%;
}
.gallery div img {
    opacity: 0.5;
    margin-right: 5%;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.gallery div img.active {
    opacity: 1;
    border: 3px solid #a7a7a7;
    width: 44px;
    height: 44px;
}
.gallery div img:hover{
    opacity: 1;
}

/* The fresnel nI coefficient slider */
#fresnel_coeff {
    position: absolute;
    width: 50%;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
}
#fresnel_coeff_value {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #444444;
    color: white;
    border-radius: 2px;
    width: 10%;
    height: 35%;
    font-size: 14px;
}

/* Footer style */
/*footer {
    overflow:hidden;
    position:absolute;
    bottom:0;
    left:0;
    height:50p;
    text-align: center;
    opacity: 0.33;
    color: white;
    background: linear-gradient(180deg, #1d1e22 5%, #152e49 100%);
}*/